{% block content %}

    
<nav class=" bg-black text-white border-gray-200 dark:bg-gray-900 ">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
    <a href="" class="flex items-center">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">DjangoCRM</span>
    </a>
    <a href="{% url 'add_record' %}" class="block py-2 pl-3 pr-4 text-white rounded md:bg-transparent  md:p-0 md:dark:text-blue-500" aria-current="page">Add Record</a>

    
            
    <div class="flex md:order-2 gap-3">

        {% if user.is_authenticated %}

        <a class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-6 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="{% url 'logout' %}">Logout</a>

        {% else %}

        <a class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-6 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="{% url 'register' %}">Register</a>

        <a class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-6 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="{% url 'home' %}">Login</a>

        {% endif %}



    </div>

    
    </div>
  </nav>
  

{% endblock %}