{% extends 'base.html' %}
{% block content %}


<div class="w-full max-w-sm m-[5%] p-4  border border-gray-200 rounded-lg shadow sm:p-8 ">
    <h5 class="mb-4 text-xl font-medium text-gray-500 ">{{ customer_record.first_name }} {{ customer_record.last_name }} </h5>
    <!-- List -->
    <ul role="list" class="space-y-5 my-7">
        <li class="flex space-x-3">
            <!-- Icon -->
            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-base font-normal leading-tight text-gray-800 font-semibold">Email:</span>
            <span class="text-base font-normal leading-tight text-gray-500 ">{{ customer_record.email }}</span>
        </li>
        <li class="flex space-x-3">
            <!-- Icon -->
            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-base font-normal leading-tight text-gray-800 font-semibold">Phone:</span>
            <span class="text-base font-normal leading-tight text-gray-500 ">{{ customer_record.phone }}</span>
        </li>
        <li class="flex space-x-3">
            <!-- Icon -->
            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-base font-normal leading-tight text-gray-800 font-semibold">Address:</span>
            <span class="text-base font-normal leading-tight text-gray-500 ">{{ customer_record.address }}</span>
        </li>
        <li class="flex space-x-3">
            <!-- Icon -->
            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-base font-normal leading-tight text-gray-800 font-semibold">City:</span>
            <span class="text-base font-normal leading-tight text-gray-500 ">{{ customer_record.city }}</span>
        </li>
        <li class="flex space-x-3">
            <!-- Icon -->
            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-base font-normal leading-tight text-gray-800 font-semibold">State:</span>
            <span class="text-base font-normal leading-tight text-gray-500 ">{{ customer_record.state }}</span>
        </li>
        <li class="flex space-x-3">
            <!-- Icon -->
            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-base font-normal leading-tight text-gray-800 font-semibold">Zipcode:</span>
            <span class="text-base font-normal leading-tight text-gray-500 ">{{ customer_record.zipcode }}</span>
        </li>
        <li class="flex space-x-3">
            <!-- Icon -->
            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-base font-normal leading-tight text-gray-800 font-semibold">Created At:</span>
            <span class="text-base font-normal leading-tight text-gray-500 ">{{ customer_record.created_at }}</span>
        </li>
        <li class="flex space-x-3">
            <!-- Icon -->
            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-base font-normal leading-tight text-gray-800 font-semibold">Id:</span>
            <span class="text-base font-normal leading-tight text-gray-500 ">{{ customer_record.id }}</span>
        </li>
    </ul>
    <a type="button" class="text-white bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 ue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-auto text-center" href="{% url 'home' %}">Back</a>

    <a type="button" class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-200 ue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-auto text-center" href="{% url 'delete_record' customer_record.id %}">Delete</a>

    <a type="button" class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-200 ue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-auto text-center" href="{% url 'update_record' customer_record.id %}">Edit</a>
    
</div>



{% endblock %}