
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-100 uppercase bg-black">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone
                </th>
                <th scope="col" class="px-6 py-3">
                    Address
                </th>
                <th scope="col" class="px-6 py-3">
                    City
                </th>
                <th scope="col" class="px-6 py-3">
                    State
                </th>
                <th scope="col" class="px-6 py-3">
                    Zipcode
                </th>
                <th scope="col" class="px-6 py-3">
                    Create at
                </th>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
            </tr>
        </thead>
        <tbody>

        {% if records %}
            {% for record in records %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <a href="{% url 'record' record.id %}">
                    {{ record.first_name }} {{ record.last_name }}
                </a>
                </th>
                <td class="px-6 py-4">
                    {{ record.email }}
                </td>
                <td class="px-6 py-4">
                    {{ record.phone }}
                </td>
                <td class="px-6 py-4">
                    {{ record.address }}
                </td>
                <td class="px-6 py-4">
                    {{ record.city }}
                </td>
                <td class="px-6 py-4">
                    {{ record.state }}
                </td>
                <td class="px-6 py-4">
                    {{ record.zipcode }}
                </td>
                <td class="px-6 py-4">
                    {{ record.created_at }}
                </td>
                <td class="px-6 py-4">
                    {{ record.id }}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
